// | -------------------------------------------------------------
// | Button
// | -------------------------------------------------------------

.button {
  display: inline-block;
  padding: 0.75rem 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  color: var(--neutral-900);
  background-color: var(--primary-350);
  border: 3px solid var(--primary-350);
  border-radius: 3px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: underline;
    background-color: var(--primary-200);
    border-color: var(--primary-200);
  }

  &:visited  {
    color: var(--neutral-900);
  }
  
  
  &.color-secondary {
    background-color: var(--secondary-100);
    border-color: (var(--secondary-100));

    &:hover,
    &:focus {
      background-color: var(--secondary-400);
      border-color: var(--secondary-400);
    }
  }

  &.color-neutral {
    background-color: var(--neutral-500);
    border-color: (var(--neutral-500));

    &:hover,
    &:focus {
      background-color: var(--neutral-400);
      border-color: var(--neutral-400);
    }
  }

  &.color-info {
    background-color: var(--info-300);
    border-color: (var(--info-300));

    &:hover,
    &:focus {
      background-color: var(--info-200);
      border-color: var(--info-200);
    }
  }

  &.color-success {
    background-color: var(--success-400);
    border-color: (var(--success-400));

    &:hover,
    &:focus {
      background-color: var(--success-300);
      border-color: var(--success-300);
    }
  }

  &.color-warning {
    background-color: var(--warning-400);
    border-color: (var(--warning-400));

    &:hover,
    &:focus {
      background-color: var(--warning-300);
      border-color: var(--warning-300);
    }
  }

  &.color-error {
    background-color: var(--error-300);
    border-color: (var(--error-300));

    &:hover,
    &:focus {
      background-color: var(--error-200);
      border-color: var(--error-200);
    }
  }

  &.size-tiny {
    padding: 0.125rem 0.25rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
  }

  &.size-small {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.3125rem;
  }

  &.size-large {
    padding: 0.75rem 1rem;
    font-size: 1.125rem;
    line-height: 1.6875rem;
  }

  &.size-huge {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
  }

  &.behavior-full {
    display: block;
    width: 100%;
  }

  &.type-secondary {
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: transparent;
    }
  }

  &.has-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    [astro-icon] {
      width: 30px;
    }
  }
}

.darkmode .button.type-secondary {
  color: var(--neutral-100) !important;
}

/*
================= 
 Light Mode  
=================
 */


.button.color-primary-900 {
  background-color: var(--primary-100) !important;
  border-color: var(--primary-100) !important;
  color: #000000; /* Set the text color to black on hover/focus */
  /* Add other styling as needed */
  &:hover,
  :focus {
    color: var(--neutral-200); /* Set the text color to white */
    background-color: var(--primary-350) !important;
    border: 3px solid var(--primary-350) !important;
    box-shadow: 0 0 10px whitesmoke; /* horizontal offset, vertical offset, blur radius, and color */
    transition: all 0.3s ease; /* Add a smooth transition to all properties over 0.3 seconds with ease timing function */
  }
  :active{
    background-color: var(--primary-400) !important;
    border-color: var(--primary-400) !important;
  }
}

/* Light Mode Button */
.button.type-secondary {
  background-color: var(--secondary-100) !important;
  border: 3px solid var(--secondary-100) !important;
  color: var(--dark); /* Set the text color to black on hover/focus */
  /* Add other styling as needed */
  &:hover,
  :focus {
    background-color: var(--secondary-200) !important;
    color: #000000; /* Set the text color to white */
    border-color: var(--secondary-200) !important;
    box-shadow: 0 0 10px rgba(28, 28, 28 ,20%); /* horizontal offset, vertical offset, blur radius, and color */
    transition: all 0.3s ease; /* Add a smooth transition to all properties over 0.3 seconds with ease timing function */
  }
  :active{
    background-color: var(--primary-400) !important;
    border-color: var(--primary-400) !important;
  }
}

/* 
================= 
 Dark Mode  
=================
 */
.darkmode   .button.type-secondary {
  background-color: var(--secondary-450) !important;
  border: 3px solid var(--primary-450) !important;
  color: #000000; /* Set the text color to black in dark mode */
  /* Add other styling as needed */
  &:hover,
  :focus {
    color: #000000 !important;  /* Set the text color to white on hover/focus in dark mode */
    background-color: var(--primary-200) !important;
    border-color: var(--primary-200) !important;
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.4); /* horizontal offset, vertical offset, blur radius, and color */
    transition: all 0.3s ease; /* Add a smooth transition to all properties over 0.3 seconds with ease timing function */
  }
  :active{
    background-color: var(--primary-400) !important;
    border-color: var(--primary-400) !important;
  }
}


/* Dark Mode Button */
.darkmode   .button.color-primary-900 {
  background-color: var(--primary-350) !important;
  border: 3px solid var(--primary-350) !important;
  color: #ffffff; /* Set the text color to black in dark mode */
  /* Add other styling as needed */
  &:hover,
  :focus {
    color: #000000 !important;  /* Set the text color to white on hover/focus in dark mode */
    background-color: var(--primary-200) !important;
    border-color: var(--primary-200) !important;
    box-shadow: 0 0 10px rgba(122, 122, 122, 0.4); /* horizontal offset, vertical offset, blur radius, and color */
    transition: all 0.3s ease; /* Add a smooth transition to all properties over 0.3 seconds with ease timing function */
  }
  :active{
    background-color: var(--primary-450) !important;
    border-color: var(--primary-400) !important;
  }
}


.scale-up-center{
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-17 21:43:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
