// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

// $colors: (
//   primary: (
//     100: hsl(276, 100%, 79%),
//     200: hsl(276, 79%, 69%),
//     300: hsl(276, 53%, 49%),
//     400: hsl(276, 64%, 48%),
//     500: hsl(276, 96%, 20%),
//   ),
//   secondary: (
//     100: hsl(173, 81%, 68%),
//     200: hsl(173, 80%, 63%),
//     300: hsl(173, 72%, 57%),
//     400: hsl(173, 75%, 47%),
//     500: hsl(173, 90%, 30%),
//   ),
//   neutral: (
//     100: hsl(0 0% 100%),
//     200: hsl(200 23% 97%),
//     300: hsl(200 12% 95%),
//     400: hsl(205 12% 88%),
//     500: hsl(209 13% 83%),
//     600: hsl(208 6% 55%),
//     700: hsl(210 8% 31%),
//     800: hsl(212 9% 22%),
//     900: hsl(210 10% 14%),
//   ),
//   dark: (
//     100: hsl(240, 4%, 9%),
//   ),
// );


$colors: (
  primary: (
    50: 'hsl(230, 100%, 95%)',
    100: 'hsl(228, 100%, 90%)',
    200: 'hsl(229, 98%, 80%)',
    300: 'hsl(229, 99%, 70%)',
    400: 'hsl(229, 99%, 60%)',
    500: 'hsl(229, 99%, 50%)',
    600: 'hsl(229, 99%, 40%)',
    700: 'hsl(229, 99%, 30%)',
    800: 'hsl(229, 98%, 20%)',
    900: 'hsl(228, 100%, 10%)',
    950: 'hsl(228, 100%, 5%)',
  ),
  secondary: (
    50: 'hsl(185, 92%, 95%)',
    100: 'hsl(186, 96%, 90%)',
    200: 'hsl(186, 94%, 80%)',
    300: 'hsl(186, 95%, 70%)',
    400: 'hsl(186, 95%, 60%)',
    500: 'hsl(186, 95%, 50%)',
    600: 'hsl(186, 95%, 40%)',
    700: 'hsl(186, 95%, 30%)',
    800: 'hsl(186, 94%, 20%)',
    900: 'hsl(186, 96%, 10%)',
    950: 'hsl(188, 92%, 5%)',
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);


// colors: {
//   'text': {
//     50: 'hsl(220, 12%, 95%)',
//     100: 'hsl(204, 10%, 90%)',
//     200: 'hsl(205, 12%, 80%)',
//     300: 'hsl(205, 11%, 70%)',
//     400: 'hsl(207, 11%, 60%)',
//     500: 'hsl(207, 11%, 50%)',
//     600: 'hsl(207, 11%, 40%)',
//     700: 'hsl(205, 11%, 30%)',
//     800: 'hsl(205, 12%, 20%)',
//     900: 'hsl(204, 10%, 10%)',
//     950: 'hsl(200, 12%, 5%)',
//   },
//   'background': {
//     50: 'hsl(240, 4%, 95%)',
//     100: 'hsl(240, 6%, 90%)',
//     200: 'hsl(240, 4%, 80%)',
//     300: 'hsl(240, 5%, 70%)',
//     400: 'hsl(240, 4%, 60%)',
//     500: 'hsl(240, 4%, 50%)',
//     600: 'hsl(240, 4%, 40%)',
//     700: 'hsl(240, 5%, 30%)',
//     800: 'hsl(240, 4%, 20%)',
//     900: 'hsl(240, 6%, 10%)',
//     950: 'hsl(240, 4%, 5%)',
//   },
//   'primary': {
    // 50: 'hsl(230, 100%, 95%)',
    // 100: 'hsl(228, 100%, 90%)',
    // 200: 'hsl(229, 98%, 80%)',
    // 300: 'hsl(229, 99%, 70%)',
    // 400: 'hsl(229, 99%, 60%)',
    // 500: 'hsl(229, 99%, 50%)',
    // 600: 'hsl(229, 99%, 40%)',
    // 700: 'hsl(229, 99%, 30%)',
    // 800: 'hsl(229, 98%, 20%)',
    // 900: 'hsl(228, 100%, 10%)',
    // 950: 'hsl(228, 100%, 5%)',
//   },
//   'secondary': {
    // 50: 'hsl(185, 92%, 95%)',
    // 100: 'hsl(186, 96%, 90%)',
    // 200: 'hsl(186, 94%, 80%)',
    // 300: 'hsl(186, 95%, 70%)',
    // 400: 'hsl(186, 95%, 60%)',
    // 500: 'hsl(186, 95%, 50%)',
    // 600: 'hsl(186, 95%, 40%)',
    // 700: 'hsl(186, 95%, 30%)',
    // 800: 'hsl(186, 94%, 20%)',
    // 900: 'hsl(186, 96%, 10%)',
    // 950: 'hsl(188, 92%, 5%)',
//   },
//   'accent': {
//     50: 'hsl(200, 12%, 95%)',
//     100: 'hsl(197, 14%, 90%)',
//     200: 'hsl(200, 12%, 80%)',
//     300: 'hsl(199, 12%, 70%)',
//     400: 'hsl(200, 12%, 60%)',
//     500: 'hsl(199, 12%, 50%)',
//     600: 'hsl(200, 12%, 40%)',
//     700: 'hsl(199, 12%, 30%)',
//     800: 'hsl(200, 12%, 20%)',
//     900: 'hsl(197, 14%, 10%)',
//     950: 'hsl(200, 12%, 5%)',
//   },
//  },
