---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <style>
        /* Add padding to the right of the button text */
        .bmc-btn !important {
          padding: 0px 30px 0px 10px !important;
          text-align: left !important;
        } /* Adjust the value as needed */
      </style>

      
        <p>
          &copy;{currentYear} - Unveiling the Seven Seas: An Ocean-themed Blog for Developers and AI Enthusiasts. <br
          />Crafted with ❤️ by <a href="https://github.com/xxxxwarmchineroxxx">xxXWarMachineRoXxx</a>
        </p>
      </div>
    </div>
  </section>
</footer>
