---
import { Icon } from 'astro-icon'
const { src = '/hero_liquid.gif' } = Astro.props

---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot>Best Liquid blog for <span class="text-gradient">Devs</span></slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a
            style="text-decoration: none !important; "
            class="button has-icon type-secondary "
            href="https://github.com/xxxwarmachineroxxx/morphling.xyz/#readme"
          >
            <Icon pack="mdi" name="ocean" />
            Dive in! &nbsp; &nbsp;
          </a>
          
          <a
            style="width:200px; text-decoration: none !important; "
            class="button has-icon color-primary-900"
            href="https://github.com/xxXWarMachineRoXxx/morphling.xyz/"
          >
            <Icon pack="ion" name="star-outline" />
            Star on GitHub
          </a>
        </div>
      </div>
      <img class="hero-hue-change hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero-hue-change {
    filter: invert(1) hue-rotate(142deg) brightness(1.5);
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  :global(.darkmode .hero-hue-change) {
    filter: invert(0) hue-rotate(290deg);
  }
</style>
