---
import { AstroIntegrationLogger } from 'astro';
import DefaultLayout from './DefaultLayout.astro'

// const { frontmatter } = Astro.props
---

<DefaultLayout title={Astro.props.title}>
  <div class="container">
    <div class="space-content my-12">
      <slot />
    </div>
  </div>
</DefaultLayout>
